In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
zomato = pd.read_csv("D:/DATA_SCIENCE/readmycourse/assignments/pandas_ass/zomato.csv",encoding = "cp1252", engine='python',usecols=range(17))

In [3]:
zomato.head(3)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

In [4]:
zomato.drop(['url', 'address', 'phone', 'menu_item'], axis=1, inplace=True)

In [5]:
zomato.head()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,Banashankari

In [6]:
zomato.duplicated().sum()

530

In [7]:
zomato.drop_duplicates(inplace=True)

In [8]:
zomato.drop("dish_liked",axis=1,inplace=True)

In [10]:
zomato.head(3)

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,Banashankari

In [9]:
zomato.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55720 entries, 0 to 56249
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         55719 non-null  object
 1   online_order                 55717 non-null  object
 2   book_table                   55683 non-null  object
 3   rate                         47921 non-null  object
 4   votes                        55663 non-null  object
 5   location                     55617 non-null  object
 6   rest_type                    55404 non-null  object
 7   cuisines                     55558 non-null  object
 8   approx_cost(for two people)  55255 non-null  object
 9   reviews_list                 55582 non-null  object
 10  listed_in(type)              51275 non-null  object
 11  listed_in(city)              51257 non-null  object
dtypes: object(12)
memory usage: 5.5+ MB

In [11]:
zomato.isnull().sum()

name                              1
online_order                      3
book_table                       37
rate                           7799
votes                            57
location                        103
rest_type                       316
cuisines                        162
approx_cost(for two people)     465
reviews_list                    138
listed_in(type)                4445
listed_in(city)                4463
dtype: int64

In [12]:
na_val=[features for features in zomato.columns if zomato[features].isnull().sum()>1]
for feature in na_val:
    print(feature, np.round(zomato[feature].isnull().mean(), 4),  '%  missing values')

online_order 0.0001 %  missing values
book_table 0.0007 %  missing values
rate 0.14 %  missing values
votes 0.001 %  missing values
location 0.0018 %  missing values
rest_type 0.0057 %  missing values
cuisines 0.0029 %  missing values
approx_cost(for two people) 0.0083 %  missing values
reviews_list 0.0025 %  missing values
listed_in(type) 0.0798 %  missing values
listed_in(city) 0.0801 %  missing values

In [13]:
zomato.dropna(how='any',inplace=True)

In [14]:
zomato.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43121 entries, 0 to 56249
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         43121 non-null  object
 1   online_order                 43121 non-null  object
 2   book_table                   43121 non-null  object
 3   rate                         43121 non-null  object
 4   votes                        43121 non-null  object
 5   location                     43121 non-null  object
 6   rest_type                    43121 non-null  object
 7   cuisines                     43121 non-null  object
 8   approx_cost(for two people)  43121 non-null  object
 9   reviews_list                 43121 non-null  object
 10  listed_in(type)              43121 non-null  object
 11  listed_in(city)              43121 non-null  object
dtypes: object(12)
memory usage: 4.3+ MB

In [15]:
zomato= zomato.rename(columns={'approx_cost(for two people)':'cost','listed_in(type)':'type',
                         'listed_in(city)':'city'})

In [16]:
zomato.head(3)

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,type,city
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,Banashankari

In [17]:
zomato['name'].value_counts(10)

 ('Rated 4.0'                                                                                                                                                                                                                                                                     0.006563
 ('Rated 5.0'                                                                                                                                                                                                                                                                     0.004940
 ('Rated 3.0'                                                                                                                                                                                                                                                                     0.002505
Cafe Coffee Day                                                                                                                                                                                                                                                                   0.002018
Kanti Sweets                                                                                                                                                                                                                                                                      0.001554
                                                                                                                                                                                                                                                                                    ...
 'RATED\n  Ambience - Cafe Like                                                                                                                                                                                                                                                   0.000023
 'RATED\n  We tried the Biergarten for the first time last night. This place is welcoming with charming service and great food. The food was rich in taste                                                                                                                        0.000023
 ""RATED\n  Been here and had ordered chicken biryani and chilly chicken. Biryani was not that good and worst chilly chicken they made chilly chicken with tandoori chicken and the chicken was so hard it was a horrible experience. I don't prefer this restaurant again."")    0.000023
Bollywood Grill                                                                                                                                                                                                                                                                   0.000023
Hungry Wok                                                                                                                                                                                                                                                                        0.000023
Name: name, Length: 9975, dtype: float64

In [18]:
zomato['cost'].value_counts()

300                                                                                                                                                                                                                                            5516
400                                                                                                                                                                                                                                            5266
500                                                                                                                                                                                                                                            3969
200                                                                                                                                                                                                                                            3440
600                                                                                                                                                                                                                                            2994
                                                                                                                                                                                                                                               ...
 ""RATED\n  Amaaaaaazing place! We went there as a huge group of 10 and were a mixed bag of vegetarians and meant-eaters and @OKI there's something for everyone..there lamb dishes are great..also mention worthy are the fried lotus stem       1
 from quite sometime                                                                                                                                                                                                                              1
 and ice-cream (quality was awesome). One cannot taste their all dishes in visit for sure. Apart from food                                                                                                                                        1
 its was a complete meal with damm tasty food.')                                                                                                                                                                                                  1
 begumpet                                                                                                                                                                                                                                         1
Name: cost, Length: 2838, dtype: int64

In [25]:
zomato.describe(include = "all")

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,type,city
count,43121,43121,43121,43121,43121,43121,43121,43121,43121,43121,43121,43121
unique,9975,2,2,2795,4543,2865,2886,5185,2838,20049,2759,2822
top,('Rated 4.0',1,0,NEW,0,BTM,Quick Bites,North Indian,300,[],Delivery,BTM
freq,283,25582,38566,2182,2266,4030,14432,2040,5516,2301,20015,2531

In [19]:
zomato['cost'] = zomato['cost'].astype(str)

In [ ]:
zomato['cost'] = zomato['cost'].astype(float)

In [20]:
zomato['online_order']=zomato['online_order'].apply(lambda x: '1' if str(x)=='Yes' else '0')

In [21]:
zomato['book_table']=zomato['book_table'].apply(lambda x: '1' if str(x)=='Yes' else '0')

In [22]:
zomato.head(2)

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,type,city
0,Jalsa,1,1,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,Banashankari
1,Spice Elephant,1,0,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,Banashankari

In [23]:
zomato.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43121 entries, 0 to 56249
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          43121 non-null  object
 1   online_order  43121 non-null  object
 2   book_table    43121 non-null  object
 3   rate          43121 non-null  object
 4   votes         43121 non-null  object
 5   location      43121 non-null  object
 6   rest_type     43121 non-null  object
 7   cuisines      43121 non-null  object
 8   cost          43121 non-null  object
 9   reviews_list  43121 non-null  object
 10  type          43121 non-null  object
 11  city          43121 non-null  object
dtypes: object(12)
memory usage: 4.3+ MB

In [24]:
zomato['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', ...,
       " but we weren't blown away. It was",
       " also a slightly larger portion size wud be much appreciated...\\n\\nService - 5/10\\n\\nReally needs a lot of tweak up... the waiters are never to be found on the floor... they lack knowledge of dishes... very uninviting overall...\\n\\nOverall not a grt experience :(')",
       ' small place '], dtype=object)

In [99]:
zomato["e"] = zomato["e"].str[:3]

In [106]:
zomato.head(10)

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,type,city,rating,ate,te,e
0,Jalsa,1,1,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,Banashankari,4.1,0,0,4.1
1,Spice Elephant,1,0,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,Banashankari,4.1,0,0,4.1
2,San Churro Cafe,1,0,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,Banashankari,3.8,0,0,3.8
3,Addhuri Udupi Bhojana,0,0,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,Banashankari,3.7,0,0,3.7
4,Grand Village,0,0,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,Banashankari,3.8,0,0,3.8
5,Timepass Dinner,1,0,3.8/5,286,Basavanagudi,Casual Dining,North Indian,600,"[('Rated 3.0', 'RATED\n Food 3/5\nAmbience 3/...",Buffet,Banashankari,3.8,0,0,3.8
6,Rosewood International Hotel - Bar & Restaurant,0,0,3.6/5,8,Mysore Road,Casual Dining,"North Indian, South Indian, Andhra, Chinese",800,"[('Rated 5.0', 'RATED\n Awesome food ??Great ...",Buffet,Banashankari,3.6,0,0,3.6
7,Onesta,1,1,4.6/5,2556,Banashankari,"Casual Dining, Cafe","Pizza, Cafe, Italian",600,"[('Rated 5.0', 'RATED\n I personally really l...",Cafes,Banashankari,4.6,0,0,4.6
9,service was sluggish as they took too long to...,0,0,\nTop floor,no outdoor seating.\nFood is delicious,a nice place to give a try.'),('Rated 1.0',we had nachos cheese salsa which was okay. We...,it turned out worse than the garlic bread. Th...,('Rated 3.0',parking facility I could not locate. Staff ca...,it was little difficult to converse. Overall ...,\nT,0,0,\nT
10,Smacznego,1,0,4.2/5,504,Banashankari,Cafe,"Cafe, Mexican, Italian, Momos, Beverages",550,"[('Rated 4.0', ""RATED\n Easy to locate\nVFM 3...",Cafes,Banashankari,4.2,0,0,4.2

In [75]:
zomato['rating'].value_counts()

3.9    3714
3.8    3610
3.7    3588
3.6    3146
4.0    2859
       ...
ver       1
 eg       1
Dal       1
 ya       1
blu       1
Name: rating, Length: 368, dtype: int64

In [104]:
df1=[y for y in zomato['rating']]
a=[]
for i in df1:
    if i.isdigit():
        a.append(i)
    elif i[:0] != i.isdigit():
        c=i.replace(" ",'0.0')
        a.append(c)
            
     # zomato[i].drop(axis=0)          
        #i=''.join(filter(str.isdigit,i)a.append(c)

zomato['e']= a
# zomato.drop(['rate'],axis=1,inplace = True)

In [83]:
zomato["ate"].unique()

array(['0'], dtype=object)

In [86]:
zomato['rating'].dropna(axis=0,inplace=True)

In [69]:
remove_slash = lambda x: x.replace('\nT', '0') if type(x) == np.str else x

In [84]:
zomato.rating = zomato.rating.apply(remove_slash)

In [103]:
zomato['e'].unique()

array(['4.1', '3.8', '3.7', '3.6', '4.6', '\\nT', '4.2', '4.0', '3.9',
       '3.1', '3.0', '3.2', '3.3', '0.0', '2.8', '4.3', 'NEW', '3.5',
       '4.4', '2.6', '3.4', '2.9', '4.5', '2.5', '2.7', '4.7', '2.2',
       'veg', '2.3', '2.4', 'foo', 'Gar', '-', '4.8', 'rot', '2.1', 'we0',
       '4.9', 'u0.', 'val', '2.0', 'eat', 'the', 'man', '70.', 'bee',
       'Hop', '130', 'Nas', 'cho', 'awe', 'chi', 'dis', 'che', '\\nF',
       'lab', 'nut', '\\n\\', 'mag', 'gre', '\\nM', 'amr', 'thi', 'and',
       'Ama', '\\nG', "!')", 'The', 'wan', 'hyp', 'wil', 'cri', 'wat',
       'rel', 'ver', 'bir', 'par', 'how', 'Aqn', 'ora', 'wel', 'sad',
       'I0.', 'alo', 'lig', 'bhe', 'mai', 'var', 'Dal', 'cur', 'bro',
       'WHO', 'sal', 'nor', 'bur', 'kor', 'Spi', '\\n', 'blu', 'AIL',
       'cou', 'bes', 'del', 'pan', 'ove', 'ser', '10.', 'liv', 'vir',
       'cro', 'res', 'cre', 'loc', 'dec', 'fal', 'Exc', 'mil', 'hat',
       'not', 'egg', 'so0', '\\nI', '\\nH'], dtype=object)

In [102]:
zomato['e'].tail(60)

56159    0.0
56161    0.0
56163    0.0
56165    0.0
56167    0.0
56168    4.1
56169    4.2
56170    3.9
56172    0.0
56174    0.0
56176    0.0
56182    0.0
56185    4.0
56186    3.9
56187    4.0
56188    3.7
56189    3.7
56190    3.8
56191    3.7
56192    3.8
56193    3.9
56194    3.9
56195    3.6
56196    3.7
56198    3.7
56199    2.5
56200    3.6
56201    3.7
56202    3.5
56203    4.3
56204    4.5
56205    4.1
56206    4.3
56208    0.0
56210    0.0
56212    0.0
56213    4.0
56215    we0
56216    4.2
56217    4.2
56218    3.9
56219    4.1
56221    0.0
56223    0.0
56227    0.0
56228    3.9
56232    0.0
56234    0.0
56235    4.0
56236    3.9
56237    4.0
56238    3.8
56239    3.7
56240    3.9
56241    2.8
56242    3.7
56244    2.5
56245    3.6
56248    4.3
56249    3.4
Name: e, dtype: object

In [105]:
zomato.head(10)

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,type,city,rating,ate,te,e
0,Jalsa,1,1,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,Banashankari,4.1,0,0,4.1
1,Spice Elephant,1,0,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,Banashankari,4.1,0,0,4.1
2,San Churro Cafe,1,0,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,Banashankari,3.8,0,0,3.8
3,Addhuri Udupi Bhojana,0,0,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,Banashankari,3.7,0,0,3.7
4,Grand Village,0,0,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,Banashankari,3.8,0,0,3.8
5,Timepass Dinner,1,0,3.8/5,286,Basavanagudi,Casual Dining,North Indian,600,"[('Rated 3.0', 'RATED\n Food 3/5\nAmbience 3/...",Buffet,Banashankari,3.8,0,0,3.8
6,Rosewood International Hotel - Bar & Restaurant,0,0,3.6/5,8,Mysore Road,Casual Dining,"North Indian, South Indian, Andhra, Chinese",800,"[('Rated 5.0', 'RATED\n Awesome food ??Great ...",Buffet,Banashankari,3.6,0,0,3.6
7,Onesta,1,1,4.6/5,2556,Banashankari,"Casual Dining, Cafe","Pizza, Cafe, Italian",600,"[('Rated 5.0', 'RATED\n I personally really l...",Cafes,Banashankari,4.6,0,0,4.6
9,service was sluggish as they took too long to...,0,0,\nTop floor,no outdoor seating.\nFood is delicious,a nice place to give a try.'),('Rated 1.0',we had nachos cheese salsa which was okay. We...,it turned out worse than the garlic bread. Th...,('Rated 3.0',parking facility I could not locate. Staff ca...,it was little difficult to converse. Overall ...,\nT,0,0,\nT
10,Smacznego,1,0,4.2/5,504,Banashankari,Cafe,"Cafe, Mexican, Italian, Momos, Beverages",550,"[('Rated 4.0', ""RATED\n Easy to locate\nVFM 3...",Cafes,Banashankari,4.2,0,0,4.2

In [108]:
zomato.drop({'ate','rating','te'},axis=1,inplace=True)

In [113]:
zomato.rename(columns={'e':'rating'},inplace=True)

In [114]:
zomato

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,type,city,rating
0,Jalsa,1,1,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,Banashankari,4.1
1,Spice Elephant,1,0,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,Banashankari,4.1
2,San Churro Cafe,1,0,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,Banashankari,3.8
3,Addhuri Udupi Bhojana,0,0,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,Banashankari,3.7
4,Grand Village,0,0,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,Banashankari,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56242,The Farm House Bar n Grill,0,0,3.7 /5,34,Whitefield,"Casual Dining, Bar","North Indian, Continental",800,"[('Rated 4.0', 'RATED\n Ambience- Big and spa...",Pubs and bars,Whitefield,3.7
56244,Bhagini,0,0,2.5 /5,81,Whitefield,"Casual Dining, Bar","Andhra, South Indian, Chinese, North Indian",800,"[('Rated 4.0', 'RATED\n A fine place to chill...",Pubs and bars,Whitefield,2.5
56245,Best Brews - Four Points by Sheraton Bengaluru...,0,0,3.6 /5,27,Whitefield,Bar,Continental,"1,500","[('Rated 5.0', ""RATED\n Food and service are ...",Pubs and bars,Whitefield,3.6
56248,Chime - Sheraton Grand Bengaluru Whitefield Ho...,0,1,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",Pubs and bars,Whitefield,4.3
56249,The Nest - The Den Bengaluru,0,0,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",Pubs and bars,Whitefield,3.4